<link
  rel="shortcut icon"
  type="image/x-icon"
  href="/assets/images/m-ibot-logo.ico"
/>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="m-ibot.eu" />
<meta property="twitter:url" content="{{ site.url }}{{ page.url }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:image" content="{{ site.url }}{{ site.og_image }}" />
